.button {
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
    color: black;
    padding: 5px 1px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top-right-radius:  30px ;
    border-bottom-right-radius: 30px;
    min-width: 130px;
    background-position: 18px !important;
    background-repeat: no-repeat !important
    outline: 2px solid red;
    outline-offset: 15px;
}

body {
    background-color: #000000;
    overflow: hidden;
}

#wrapper {
    padding-left:   2px;
    padding-right:  2px;
    padding-top:    2px;
    padding-bottom: 2px;
}
#categories {
float:left;
    padding-right:  15px;
    padding-top:    15px;
    padding-bottom: 15px;
    width:130px;

    
    border-left: none;
    border-bottom: solid #638EF1  5px;
    border-top:    solid #638EF1 10px;
    border-right:  solid #638EF1 10px;
    
/*     border: 5px solid #ff00ff; */
    border-top-right-radius:  30px !important;
    border-bottom-right-radius: 30px !important;
    -webkit-border-top-right-radius: 30px !important;
/*     border-width: 4px !important */
/*     border-left-width : 0px !important; */
}
#nav_mode {
float:left;
    padding-right:  15px;
    padding-top:    15px;
    padding-bottom: 15px;
    width:130px;

    
    border-left: none;
    border-bottom: solid #638EF1  5px;
    border-top:    solid #638EF1 10px;
    border-right:  solid #638EF1 10px;
    
/*     border: 5px solid #ff00ff; */
    border-top-right-radius:  30px !important;
    border-bottom-right-radius: 30px !important;
    -webkit-border-top-right-radius: 30px !important;
/*     border-width: 4px !important */
/*     border-left-width : 0px !important; */
}
#content {
    margin-left:   190px;
    margin-top:   -80px;
    vertical-align:top;
    padding-left:  20px; 
    padding-right: 20px; 
    
    padding-left:   30px;
    padding-top:    30px;
    padding-bottom: 30px;
    
    border-left:   solid #638EF1 20px;
    border-bottom: solid #638EF1 20px;
    border-top:    solid #638EF1 20px;
    border-right: none;
    
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
h1 {
  color:white;
}
h2 {
  color:white;
  margin-top: 0px;
}

#content p {
    color: white;
}

.circle {
    width:        90px;
    height:       90px;
    margin-top:    5px; 
    margin-bottom: 5px; 
    margin-left:   5px; 
    margin-right:  5px; 
    border: none;
    background-color: #ff9e20;
    text-align: left;
}
.outercircle {
    width:        130px;
    height:       130px;
    margin-top:    5px; 
    margin-bottom: -15px; 
    margin-left:   3px; 
    margin-right:  5px; 
    border: none;
    background-color: #E00000;
}
.circUR {
    border-radius: 0 100px 0 0;
}
.circUR value{
    
}
.circUL {
    border-radius: 100px 0 0 0;
}
.circBL {
    border-radius: 0 0 0 100px;
}
.circBR {
    border-radius: 0 0 100px 0;
}
.progress_bar_wrapper{
  display: inline; 
}
.progress_bar{
  display: inline-block;
  width: fit-content; 
}
.nav {
    border: none;
    color: black;
    padding: 5px 1px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 50px;
    min-height: 50px;
    background-color: #e7e7e7;
}

.left {
    margin-left: 5px;
    min-width: 125px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.right {
    min-width: 125px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.up {
    min-height: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.down {
    min-height: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.con {
    border: none;
    color: black;
    padding: 5px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    min-width: 50px;
    min-height: 39px;
    background-color: red;
}
.cellstate {
    border: none;
    color: black;
    padding: 5px 1px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 100px;
    min-height: 25px;
    background-color: red;
}
#controls{
    float: left;
}
#order_list{
  margin-left: 30px;
  height: 200px;
  width: 500px;
}
#cutout{
  background-color: red;
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
  position: absolute; 
}

#conveyoranimate {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: red;
}

.indent{
	padding-left: 1.8em;
}